<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
                            
    
    
    
    
    
    <theme>pixels</theme>
                            
    
    
    
    
    
    <sound>On</sound>
                            
    
    
    
    
    
    <clock>10 minutes</clock>
                        





</settings>
